<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Analog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD92ECDC1CEC50EF001294E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD92ECF01CEC50EF001294E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD92ECFB1CEC50EF001294E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
